{{- if .Values.bgpClusterConfig.enabled }}
apiVersion: cilium.io/v2alpha1
kind: CiliumBGPClusterConfig
metadata:
  name: cilium-bgp
  namespace: kube-system
spec:
  nodeSelector:
    matchLabels:
      {{- toYaml .Values.bgpClusterConfig.nodeSelector | nindent 6 }}
  bgpInstances:
  - name: "bgp-65000"
    localASN: {{ .Values.bgpClusterConfig.localASN }}
    exportPodCIDR: {{ .Values.bgpClusterConfig.exportPodCIDR }}
    routerID: "{{ .Values.bgpClusterConfig.routerID }}"
    neighbors:
      {{- if .Values.bgpNeighbors.enabled }}
      {{- range .Values.bgpNeighbors }}
      - peerAddress: "{{ .peerAddress }}"
        peerASN: {{ .asn }}
        gracefulRestart:
          enabled: {{ .gracefulRestart.enabled }}
          restartTimeSeconds: {{ .gracefulRestart.restartTimeSeconds }}
      {{- end }}
      {{- end }}
    {{- if .Values.bgpAdvertisements.enabled }}
    advertisements:
      - advertisementType: "service"
        selector:
          matchExpressions:
          - key: io.cilium/bgp-advertise
            operator: In
            values:
            - "true"
    {{- end }}
{{- end }}
