apiVersion: cilium.io/v2alpha1
kind: CiliumL2AnnouncementPolicy
metadata:
  name: default
  namespace: kube-system
spec:
  nodeSelector:
    matchLabels: {}
  interfaces:
    - eth0
  externalIPs: true
  loadBalancerIPs: true
