kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: platform
networking:
  disableDefaultCNI: true
nodes:
- role: control-plane
  image: kindest/node:v1.34.0
  extraPortMappings:
  - containerPort: 80
    hostPort: 80
    protocol: TCP
  - containerPort: 443
    hostPort: 443
    protocol: TCP
  - containerPort: 8080
    hostPort: 8080
    protocol: TCP
