apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: app-prod

bases:
- ../../base

replicas:
- name: my-app
  count: 3

images:
- name: my-app
  newTag: v1.0.0

commonLabels:
  environment: production

patchesJson6902:
- target:
    group: apps
    version: v1
    kind: Deployment
    name: my-app
  patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/resources/requests/memory
      value: 256Mi
    - op: replace
      path: /spec/template/spec/containers/0/resources/limits/memory
      value: 1Gi
    - op: replace
      path: /spec/template/spec/affinity
      value:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - my-app
              topologyKey: kubernetes.io/hostname

patches:
- target:
    kind: Service
    name: my-app
  patch: |-
    - op: replace
      path: /spec/type
      value: ClusterIP
